<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
        <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
    </nav>
    <h2><%= title %></h2>
    <!-- title is passed in as an optional parameter (aka "locals") to the res.render() function; 
    locals is an object whose properties define local variables for the VIEW;
    you can read more in the documentation here: https://expressjs.com/en/api.html#res.redirect;
    note that the business logic for the embedded js is located in the controller -->