body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: rgb(202, 202, 202);
}

/* 
TODO:
- i want a banner? (just text will do; maybe italicized) that'll span across the
top of each page (maybe Mongoose Flights)
- make the tables look pretty (maybe go back and look at the css for that
one in class lab we did with tables Arrowhead something)
- stylize the nav bar (can probably look at the prework stuff to find the css)
 */