<%- include("../partials/header") %>
<form action="/flights" method="POST">
    <!-- remember, action= specifies WHERE(i.e. what path) we want to POST to -->
    <label>
        Airline:
        <!-- <input type="text" name="airline">
        note: even though we are limiting the AVERAGE user's choices by having them
        pick from a dropdown menu, a web savvy visitor could pass in html to circumvent
        the options below, which is why we need a failsafe (in this case, in the form of
        enums - found in the flight.js model); it is good to have validation on the front
        and back end -->
        <select name="airline" id="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label><br>
    <label>
        Flight Number:
        <input type="number" name="flightNo">
    </label><br>
    <label>
        Date:
        <input type="datetime-local" name="departs">
    </label><br>
    <label>
        Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
    </label><br>
    <input type="submit" value="Add Flight">
</form>
<%- include("../partials/footer") %>